/*
@font-face {
  font-family: 'GTWalsheim Light';
  src: url('../fonts/GTWalsheim-Light.eot');
  src: url('../fonts/GTWalsheim-Light.eot?iefix') format('embedded-opentype'),
       url('../fonts/GTWalsheim-Light.woff2') format('woff2'),
       url('../fonts/GTWalsheim-Light.woff') format('woff'),
       url('../fonts/GTWalsheim-Light.ttf') format('truetype'),
       url('../fonts/GTWalsheim-Light.svg#GTWalsheim-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GTWalsheim Regular';
  src: url('../fonts/GTWalsheim-Regular.eot');
  src: url('../fonts/GTWalsheim-Regular.eot?iefix') format('embedded-opentype'),
       url('../fonts/GTWalsheim-Regular.woff2') format('woff2'),
       url('../fonts/GTWalsheim-Regular.woff') format('woff'),
       url('../fonts/GTWalsheim-Regular.ttf') format('truetype'),
       url('../fonts/GTWalsheim-Regular.svg#GTWalsheim-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brown Light';
  src: url('../fonts/Brown-Light.eot');
  src: url('../fonts/Brown-Light.eot?iefix') format('embedded-opentype'),
       url('../fonts/Brown-Light.woff2') format('woff2'),
       url('../fonts/Brown-Light.woff') format('woff'),
       url('../fonts/Brown-Light.ttf') format('truetype'),
       url('../fonts/Brown-Light.svg#Brown-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Publico Roman';
  src: url('../fonts/Publico-Roman.eot');
  src: url('../fonts/Publico-Roman.eot?iefix') format('embedded-opentype'),
       url('../fonts/Publico-Roman.woff2') format('woff2'),
       url('../fonts/Publico-Roman.woff') format('woff'),
       url('../fonts/Publico-Roman.ttf') format('truetype'),
       url('../fonts/Publico-Roman.svg#Publico-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video{margin: 0;padding: 0;border: 0;}

html, body{height: 100%;min-height: 100%;width: 100%;}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video{display: block;}

.clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
a img{border:0}
a,input,select,textarea{outline:none}
input::-moz-focus-inner{border:0; padding: 0}

img::selection{background: transparent;}
img::-moz-selection{background: transparent;}

/*		General Layout 
----------------------------------------------------------------------------------
*/
*{-webkit-box-sizing: border-box;-moz-box-sizing:border-box; box-sizing: border-box;}
body{overflow-x: hidden;overflow-y:scroll;-webkit-text-size-adjust: 100%;-moz-text-size-adjust:100%,-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family: Verdana, Arial, sans-serif;font-size: 14px;line-height: 24px;font-weight: 400;background: #fff; color: #252832;}
h1,h2{/*font-family: "Publico Roman";*/font-size: 40px;font-weight: 400;line-height: 47px;letter-spacing: 1.25px;margin-bottom: 30px}
h3{/*font-family: "Publico Roman";*/font-size: 28px;font-weight: 400;line-height: 47px;letter-spacing: 0.875px;}
h4{/*font-family: "GTWalsheim Regular";*/font-size: 20px;font-weight: 400;line-height: 24px;letter-spacing: 0.47px;}
h5{/*font-family: "GTWalsheim Light";*/font-size: 12px;font-weight: 400;line-height: 29px;letter-spacing: 0.7px;}
p{/*font-family: "GTWalsheim Light";*/letter-spacing: 0.8166667px;}
a{text-decoration: none;color: #252832}

/*    Heading/Landing fold Layout 
----------------------------------------------------------------------------------
*/
.mobi-header{display: none}
#header-wrap{background: #cfcde5;height: 100vh;min-height: 712px;position: relative;overflow: hidden;}
.info-banner{position: absolute;top: 0;left: 0;z-index: 1;width: 100%;height: 33px;background: #f05344;color: #ffffff;/*font-family: "GTWalsheimLight";*/line-height: 19px;text-align: center;letter-spacing: 0.1527273px;padding: 10px 0 0}
nav{position: absolute;top: 33px;left: 0;z-index: 1;display: inline-block;float: left;width: 100%;background: #fff}
nav .logo{position: absolute;margin: 10px 0 0 -65.5px}
nav ul{display: inline-block;float: left;width: 50%;height: 45px;text-align: right;}
nav ul:first-child{text-align: left;}
nav ul li{display: inline-block;margin: 8px 10px 0}
nav ul li a{/*font-family: "GTWalsheim Regular";*/font-size: 11px;line-height: 35px;letter-spacing: 2.321px;-webkit-transition: .3s;transition: .3s;}
nav ul li a:hover{color: #cfcde5}
.lang-btn,
.cart-btn,
.wishlist-btn{margin: 10px 5px 0;float: right;}
.lang-btn{margin: 12px 11px 0 5px}
.lang-btn a,
.cart-btn a,
.wishlist-btn a{background: url(../images/icon-wishlist.png)no-repeat center 100%;width: 32px;height: 26px;display: inline-block;position: relative;}
.lang-btn a{background-image: url(../images/icon-flag.png);width: 24px;height: 24px;}
.cart-btn a{background-image: url(../images/icon-cart_fix.png);}
.cart-btn a span,
.wishlist-btn a span{/*font-family: "GTWalsheim Regular";*/color: #fff;font-size: 8px;font-weight: 400;line-height: 16px;letter-spacing: 1.688px;position: absolute;top: 1px;right: 0;width: 14px;text-align: center;}
.cart-btn a span{right: 2px}
.header-img{display: inline-block;float: left;width: 50%;height: 100%;padding-top: 78px;position: relative;background-repeat: no-repeat;background-size: cover;background-position: top 78px center;}
.header-img img{display: none;float: left;width: 100%;}
.cta-arrow{background: url(../images/arrow-cta.png)no-repeat center 100%;display: inline-block;width: 40px;height: 40px;position: absolute;right: 19px;bottom: 24px}
.cta-btn{width: 100%;}
.cta-btn a{display: inline-block;padding: 0 0 5px;position: relative;overflow: hidden;-webkit-transition: .3s;transition: .3s;}
.cta-btn a::before,
.cta-btn a::after{content: "";position: absolute;bottom: 0;left: 0;background: #fff;width: 100%;height: 1px;-webkit-transition: .3s;transition: .3s;}
.cta-btn a::after{right:100%;background: #252832;}
.cta-btn a:hover{color: #fff}
.cta-btn a:hover::before{right: 0}
.cta-btn a:hover::after{left: 100%}
.header-overlay{display: inline-block;float: right;width: 50%;height: 100%;position: relative;}
.header-overlay .cta-btn{position: absolute;left: 0;bottom: 34px;text-align: center;}
.center-flex{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.center-inner{text-align: center;}

/*    Home page 
----------------------------------------------------------------------------------
*/
#main-wrap{max-width: 1260px;margin: 0 auto;padding: 0 10px}
.story-wrap{padding: 17px 105px;}
.story-wrap .hand{background-image: url(../images/hand_2.png);background-repeat: no-repeat;;background-size: 100%;width: 641px;max-width: 50%;height: 426px;position: absolute;right: -38px;}
.story-wrap h5{margin-bottom: 39px}
.story-wrap p{max-width: 407px}
.story-btn{margin: 70px 0 26px}
.story-btn.cta-btn a:hover{color: #d08e6f}
.story-btn.cta-btn a::before{background: #d08e6f;}

.product-wrap{background: #d08e6f;padding: 75px 87px}
.product-item{display: inline-block;width: 41.84%;max-width: 446px;min-height: 562px;position: relative;background: #fff;padding: 58px 20px 40px;text-align: center;}
.product-item:nth-child(even){float: right;}
.product-item img{max-width: 100%}
.product-item h4{margin-top: 50px}
.side-txt{display: inline-block;color: #e4b78b;/*font-family: "Publico Roman";*/font-size: 13px;line-height: 17px;text-align: right;letter-spacing: 0.40625px;-webkit-transform: rotate(270deg);transform: rotate(270deg);transform-origin: 0 0;position: absolute;bottom: -34px;left: -40px;width: 562px;padding: 0 24px;}
.cat-nav{display: inline-block;margin: 32px 10px 0}
.cat-nav a{letter-spacing: 0.8166667px;display: inline-block;margin: 10px;-webkit-transition: .3s;transition: .3s;}
.cat-nav a:hover{color: #d08e6f}

.video-wrap{position: relative;}
.video-wrap video{max-width: 100%}
.video-poster{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;padding: 30px 105px 42px}
.video-poster h2,
.video-poster h5{color: #fff}
.video-poster h2{margin-top: 30px}
.video-poster .cta-arrow{right: 105px;bottom: 27px}
.play-btn{background: url(../images/video-play_btn.png)no-repeat center 100%;display: inline-block;width: 48px;height: 48px;position: absolute;left: 50%;top: 48%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.read-more{position: absolute;bottom: 38px}
.read-more a{color: #fff;/*font-family: "GTWalsheim Bold";*/font-size: 14px;font-weight: 400;line-height: 24px;letter-spacing: 0.8166667px;position: relative;padding-bottom: 5px;overflow: hidden;display: inline-block;-webkit-transition: .3s;transition: .3s;}
.read-more a:hover{color: #252832}
.read-more a::before,
.read-more a::after{content: "";position: absolute;bottom: 0;left: 0;background: #252832;width: 100%;height: 1px;-webkit-transition: .3s;transition: .3s;}
.read-more a::after{right: 100%;background: #fff}
.read-more a:hover::before{right: 0}
.read-more a:hover::after{left: 100%}

/*    Footer/Last fold Layout 
----------------------------------------------------------------------------------
*/
#footer-wrap{max-width: 1260px;margin: 0 auto;padding: 0 10px 10px;}
.footer-inner{display: inline-block;width: 100%;padding: 92px 105px 64px;background: #f8f5f0;}
.footer-inner h4{max-width: 420px;display: inline-block;float: left;margin-right: 78px}
.sign-up-wrap{display: inline-block;float: left;width: 100%;margin-bottom: 140px}
.sign-up{display: inline-block;float: left;position: relative;overflow: hidden;}
.sign-up::before,
.sign-up::after{content: "";position: absolute;bottom: 0;left: 0;background: #252832;width: 100%;height: 1px;-webkit-transition: .3s;transition: .3s;}
.sign-up::before{right: 100%;background: #c4c4c4;}
.sign-up:hover::before{right: 0}
.sign-up:hover::after{left: 100%}
.sign-up input{border: none;outline: none;background: none;}
.sign-up input[type="email"]{/*font-family: "GTWalsheim Light";*/font-size: 14px;font-weight: 400;line-height: 33px;letter-spacing: 0.62px;padding: 5px 40px 0 5px;min-width: 301px;}    
.sign-up input[type="submit"]{position: absolute;top: 15px;right: 5px;width: 39px;height: 9px;background: url(../images/arrow-submit.png)no-repeat center 100%;cursor: pointer;padding: 0 0 0 10px;-webkit-transition: .3s;transition: .3s;}
.sign-up input[type="submit"]:hover{right: 0;}
.footer-nav{display: inline-block;float: left;width: 100%;margin-bottom: 104px}
.footer-nav > ul{display: inline-block;float: left;max-width: 17%;margin-right: 2%;}
.footer-nav > ul:nth-child(2){max-width: 28%;margin-right: 3%}
.footer-nav > ul:nth-child(4){max-width: 12%;margin-right: 4%}
.footer-nav > ul:nth-child(6){max-width: 20%;margin-right: 4%}
.footer-nav > ul:last-child{margin-right: 0;max-width: 10%}
.footer-nav > ul > li{display: inline-block;width: 100%}
.footer-nav > ul > li > a{display: inline-block;/*font-family: "GTWalsheim Medium";*/font-size: 14px;font-weight: 400;line-height: 33px;letter-spacing: 0.62px;position: relative;overflow: hidden;}
.footer-nav > ul > li > a::after{content: "";position: absolute;bottom: 0;right: 100%;background: #252832;width: 100%;height: 1px;-webkit-transition: .3s;transition: .3s;}
.footer-nav > ul > li > a:hover::after{right: 0}
.footer-nav .selectric-wrapper{width: 100%;max-width: 284px;display: inline-block;float: left;margin-top: 40px}
.footer-nav .selectric{border-color: #252832;background-color: transparent;padding: 5px 0;}
.footer-nav .selectric-focus .selectric{border-color: #252832;}
.footer-nav .selectric-open .selectric{border-color: #c4c4c4;}
.footer-nav .selectric .button{height: 50px;left: 0;background-color: transparent;color: #252832}
.footer-nav .selectric .button::after{border-top-color: #252832;}
.footer-nav .selectric .label{margin: 0 10px 0 38px;}
.footer-nav .selectric-items li:hover,
.footer-nav .selectric-items li.highlighted:hover{background: #252832;color: #fff}
.footer-nav .selectric-items li.highlighted{background: none;font-weight: bold}
.accordion{display: none}
.copyright,
.end-btn{color: #b2ada5;/*font-family: "GTWalsheim Light";*/font-size: 14px;font-weight: 400;line-height: 23px;letter-spacing: 1.12px;display: inline-block;}
.end-btn{float: right;min-width: 10.506%;-webkit-transition: .3s;transition: .3s;}
.end-btn:hover{color: #252832}

/*    Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/
@media only screen and (max-width: 767px) {

  /*    General Layout 
  ----------------------------------------------------------------------------------
  */
  h1{font-size: 28px;line-height: 35px;letter-spacing: 0.88px;margin-bottom: 22px}
  h2{font-size: 28px;line-height: 35px;letter-spacing: 0.88px;margin-bottom: 24px}
  h5{font-size: 14px;letter-spacing: 0.8166667px;}

  /*    Heading/Landing fold Layout 
  ----------------------------------------------------------------------------------
  */
  #header-wrap{height: auto;min-height: 0}
  .info-banner{font-size: 13px;line-height: 17px;letter-spacing: 0.1418182px;height: 27px;padding-top: 6px;position: relative;}
  .info-banner span{display: none}
  .logo{display: none}
  nav{display: none}
  #mobi-menu{display: none;margin-bottom: 20px}
  .mobi-header{display: inline-block;float: left;width: 100%;background: #fff;min-height: 57px;overflow: hidden;position: relative;text-align: center;}
  .mobi-header a{display: block;color: #252832;padding: 15px 0 0;text-decoration: none;/*font-family: "GTWalsheim Light";*/font-size: 14px;line-height: 24px;letter-spacing: 0.24px;}
  .mobi-header a.icon {background: url(../images/mobi-menu.png)no-repeat center 100%;display: inline-block;position: absolute;left: 10px;top: 16px;width: 19px;height: 12px}
  .mobi-nav{display: inline-block;position: relative;top: 0;text-align: center;background: #cfcde5}
  .mobi-nav ul{width: auto;max-width: 100%;float: none}
  .mobi-nav ul:first-child{background: none;text-align: center;}
  .mobi-nav ul li{margin: 0 10px}
  .mobi-nav ul li a{/*font-family: "GTWalsheim Light";*/font-size: 14px;line-height: 24px;letter-spacing: 0.24px}
  .header-overlay{width: 100%;float: left;background: #cfcde5;padding: 56px 10px 91px}
  .header-overlay .cta-btn{bottom: 10px}
  .center-flex{position: relative;top: auto;left: auto;transform:none;}
  .header-img{width: 100%;padding-top: 0;max-height: 358px;}
  .header-img img{display: inline-block;}

  /*    Home page 
  ----------------------------------------------------------------------------------
  */
  #main-wrap{padding: 0}
  .story-wrap{padding: 30px 35px 0}
  .story-wrap h5{margin-bottom: 14px}
  .story-wrap .hand{display: none}

  .product-wrap{padding: 21px 17px 0;float: left;display: inline-block;width: 100%;text-align: center;}
  .product-item{width: 100%;margin-bottom: 21px;min-height: 510px}
  .product-item:nth-child(even){float: none}
  .side-txt{left: -17px;width: 510px}
  .cat-nav{margin-top: 10px}

  .video-wrap{float: left;display: inline-block;width: 100%;min-height: 607px}
  .video-wrap video{height: 607px;}
  .video-poster{padding: 30px 17px;background-position: calc(50% - -67px) 0%;
    background-size: auto 115%;}
  .video-poster .cta-arrow{right: 17px;bottom: 57px}
  .read-more{bottom: 30px}

  /*    Footer/Last fold Layout 
  ----------------------------------------------------------------------------------
  */
  #footer-wrap{padding: 0}
  .footer-inner{padding: 64px 17px 17px}
  .footer-inner h4{margin: 0 0 35px}
  .sign-up-wrap{margin-bottom: 48px}
  .footer-nav{margin-bottom: 88px}
  .footer-nav > ul,
  .footer-nav > ul:nth-child(2),
  .footer-nav > ul:nth-child(4),
  .footer-nav > ul:nth-child(6),
  .footer-nav > ul:last-child{width: 100%;max-width: 100%;margin: 0}
  .footer-nav > ul > li > a{font-size: 17px;line-height: 39px;letter-spacing: 0.7528571px;}
  .footer-nav .selectric-wrapper{margin: 0 0 20px}
  .accordion{font-size: 17px;line-height: 39px;letter-spacing: 0.7528571px;display: block;background: none;width: 100%;text-align: left;border: none;outline: none;transition: 0.4s;  }
  .accordion:before{content: "+ ";}
  .accordion.active:before{content: "- "}
  .panel{padding: 0 20px;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
  .panel li:last-child{margin-bottom: 20px}

}

/*    Wide Mobile Layout: 480px.
----------------------------------------------------------------------------------
*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/*    Tablet Layout: 768px.
----------------------------------------------------------------------------------
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /*    General Layout 
  ----------------------------------------------------------------------------------
  */
  h1{font-size: 28px;line-height: 35px;letter-spacing: 0.88px;margin-bottom: 22px}
  h2{font-size: 28px;line-height: 35px;letter-spacing: 0.88px;margin-bottom: 24px}
  h5{font-size: 14px;letter-spacing: 0.8166667px;}

  /*    Heading/Landing fold Layout 
  ----------------------------------------------------------------------------------
  */
  #header-wrap{height: auto;min-height: 0}
  .info-banner{font-size: 13px;line-height: 17px;letter-spacing: 0.1418182px;height: 27px;padding-top: 6px;position: relative;}
  .info-banner span{display: none}
  .logo{display: none}
  nav{display: none}
  #mobi-menu{display: none;}
  .mobi-header{display: inline-block;float: left;width: 100%;background: #fff;min-height: 57px;overflow: hidden;position: relative;text-align: center;}
  .mobi-header a{color: #252832;padding: 15px 0 0;text-decoration: none;font-size: 17px;display: block;}
  .mobi-header a.icon {background: url(../images/mobi-menu.png)no-repeat center 100%;display: inline-block;position: absolute;left: 10px;top: 16px;width: 19px;height: 12px}
  .mobi-nav{display: inline-block;position: relative;top: 0;text-align: center;background: #cfcde5}
  .mobi-nav ul{width: auto;max-width: 100%;float: none}
  .mobi-nav ul:first-child{background: none;text-align: center;}
  .mobi-nav ul li{margin: 0 10px}
  .mobi-nav ul li a{/*font-family: "GTWalsheim Light";*/font-size: 14px;line-height: 24px;letter-spacing: 0.24px}
  .header-overlay{width: 100%;float: left;background: #cfcde5;padding: 56px 10px 91px}
  .header-overlay .cta-btn{bottom: 10px}
  .center-flex{position: relative;top: auto;left: auto;transform:none;}
  .header-img{width: 100%;padding-top: 0;max-height: 358px;}
  .header-img img{display: inline-block;}

  /*    Home page 
  ----------------------------------------------------------------------------------
  */
  .video-wrap video{height: auto}

  /*    Footer/Last fold Layout 
  ----------------------------------------------------------------------------------
  */
  #footer-wrap{padding: 0}
  .footer-inner{padding: 64px 17px 17px}
  .footer-inner h4{margin: 0 0 35px}
  .sign-up-wrap{margin-bottom: 48px}
  .sign-up{clear: left;}
  .footer-nav{margin-bottom: 88px}
  .footer-nav > ul,
  .footer-nav > ul:nth-child(2),
  .footer-nav > ul:nth-child(4),
  .footer-nav > ul:nth-child(6),
  .footer-nav > ul:last-child{width: 100%;max-width: 100%;margin: 0}
  .footer-nav > ul > li > a{font-size: 17px;line-height: 39px;letter-spacing: 0.7528571px;}
  .footer-nav .selectric-wrapper{margin: 0 0 20px}
  .accordion{font-size: 17px;line-height: 39px;letter-spacing: 0.7528571px;display: block;background: none;width: 100%;text-align: left;border: none;outline: none;transition: 0.4s;cursor: pointer;}
  .accordion:before{content: "+ ";}
  .accordion.active:before{content: "- "}
  .panel{padding: 0 22px;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
  .panel li:last-child{margin-bottom: 20px}
}

/*    Tablet Layout: 1024px.
----------------------------------------------------------------------------------
*/
@media only screen and (min-width: 992px) and (max-width: 1024px) {

  /*    Heading/Landing fold Layout 
  ----------------------------------------------------------------------------------
  */
  nav ul li a{font-size: 10px}
  nav ul:first-child li{margin: 8px 0 0 8px;}

  /*    Home page 
  ----------------------------------------------------------------------------------
  */
  .video-wrap video{height: auto}
}

/*    Tablet Layout: 1024px.
----------------------------------------------------------------------------------
*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

   /*    Heading/Landing fold Layout 
  ----------------------------------------------------------------------------------
  */
  nav ul li a{font-size: 10px}
  nav ul:first-child li{margin: 8px 0 0 8px;}

  /*    Home page 
  ----------------------------------------------------------------------------------
  */
  .video-wrap video{height: auto}
}

/*  Retina media query.
  Overrides styles for devices with a 
  device-pixel-ratio of 2+, such as iPhone 4.
----------------------------------------------------------------------------------   */
@media 
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {  
  
}